
nav{
    
    background-color: #222326;
    background-size: cover;
}
nav .menu{
    display: flex;
    height:50px;
   
}
.menu .menu-main{
    width: 75%;
}
.menu .menu-main ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu .menu-main ul li{
    position: relative;
}
.menu .menu-main ul li a{
    text-decoration: none;
    font-family: 'Open Sans Regular';
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    color:white
}
.menu .menu-main ul li.active a,
.menu .menu-main ul li a:hover{
    background-color: #696969;
    color:white;
    height:50px
}
.menu .menu-search{
    width: 25%;
    padding: 15px 25px;
}
.menu .menu-search label{
    display: none;
}
/* nav .menu-main{
    width: 75%;
}
nav .menu-main ul {
    margin-top: 0;
    display: flex;
    justify-content: center;
    list-style: none;
   
}
nav  .menu-main ul li{
    position: relative;
}
nav .menu-main ul li a{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-family: 'Open Sans Light';
    display: block;
    font-size:14px ;
    
    
}
nav .menu-main ul li a:hover{
    background-color: #696969;
    color:white;
    height:50px
}
nav .menu-search{
    width: 25%;
} */
